<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Dashboard.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body style="display: flex">
    <div class="dashboard dashboard-group layout">
      <div
        style="--src:url(/assets/58a097c6185dc15f9d3a94b41b2c77e9.png)"
        class="dashboard-cover-group4 layout"
      >
        <div class="dashboard-flex layout">
          <div class="dashboard-flex1 layout">
            <div class="dashboard-flex1-item">
              <div
                style="--src:url(/static/assets/35ae2953863730338c14235487289175.png)"
                class="dashboard-image1 layout"
              ></div>
            </div>
            <div class="dashboard-flex1-spacer"></div>
            <div
              style="--src:url(/static/assets/ebd202539db9630d75e30684af203dac.png)"
              class="dashboard-image6 layout"
            ></div>
          </div>
          <div class="dashboard-flex2 layout">
            <div class="dashboard-flex2-item">
              <div
                style="--src:url(/static/assets/b8d62858554d3bf3c4763dd093b272b1.png)"
                class="dashboard-cover-group1 layout"
              >
                <div
                  style="--src:url(/static/assets/53056e5a2fb33ff1df6dbe80e0950f0e.png)"
                  class="dashboard-image2 layout"
                ></div>
              </div>
            </div>
            <div class="dashboard-flex2-spacer"></div>
            <div class="dashboard-flex2-item">
              <div
                style="--src:url(/static/assets/b8d62858554d3bf3c4763dd093b272b1.png)"
                class="dashboard-cover-group3 layout"
              >
                <div
                  style="--src:url(/static/assets/188a0d23899b940431d147c13836fef5.png)"
                  class="dashboard-image4 layout"
                ></div>
              </div>
            </div>
            <div class="dashboard-flex2-spacer"></div>
            <div class="dashboard-flex2-item">
              <div
                style="--src:url(/static/assets/b8d62858554d3bf3c4763dd093b272b1.png)"
                class="dashboard-cover-group2 layout"
              >
                <div
                  style="--src:url(/static/assets/c869bc77f632939b66dfccdb361f3ab0.png)"
                  class="dashboard-image3 layout"
                ></div>
              </div>
            </div>
          </div>
          <div
            style="--src:url(/static/assets/65c341c155c12ef8325122621b8fb208.png)"
            class="dashboard-cover-group layout"
          >
            <div
              style="--src:url(/static/assets/3c9b96df698b7f8911e63f7968dfbec8.png)"
              class="dashboard-image5 layout"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
