<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/Nocode.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body style="display: flex">
    <div class="nocode nocode-group layout">
      <div class="nocode-group1 layout">
        <div class="nocode-flex layout">
          <div class="nocode-flex1 layout">
            <div class="nocode-flex1-item">
              <div class="nocode-cover-group layout">
                <h1 class="nocode-big-title layout">Project A</h1>
                <div class="nocode-box13 layout"></div>
              </div>
            </div>
            <div class="nocode-flex1-spacer"></div>
            <div class="nocode-flex1-item1">
              <div class="nocode-cover-group11 layout">
                <div class="nocode-box6 layout"></div>
                <div class="nocode-text-body1 layout">Done</div>
              </div>
            </div>
          </div>
          <div class="nocode-flex2 layout">
            <div class="nocode-flex2-item">
              <div class="nocode-group2 layout">
                <div class="nocode-text-body layout">Choose data sources</div>
                <div class="nocode-cover-group24 layout">
                  <div class="nocode-cover-group15 layout">
                    <div class="nocode-text-body2 layout">Tools</div>
                  </div>
                  <div class="nocode-text-body11 layout">Input</div>
                  <div class="nocode-text-body12 layout">Operations</div>
                  <div class="nocode-text-body13 layout">Output</div>
                  <div class="nocode-cover-group10 layout">
                    <div
                      style="--src:url(/static/assets/4a240baba875180effee5b1634561837.png)"
                      class="nocode-image layout"
                    ></div>
                    <div class="nocode-text-body1 layout1">Cross-sell</div>
                  </div>
                  <div class="nocode-cover-group10 layout1">
                    <div
                      style="--src:url(/static/assets/f8c0af52ea8eb6e98d4df5de8b51b7aa.png)"
                      class="nocode-image layout"
                    ></div>
                    <div class="nocode-text-body1 layout2">Up-sell</div>
                  </div>
                  <div
                    style="--src:url(/static/assets/928d2ead710ef3e66214d6d130a8c84f.png)"
                    class="nocode-image1 layout"
                  ></div>
                  <div
                    style="--src:url(/static/assets/277cab176e0e102ffb5e531dd03e3f40.png)"
                    class="nocode-image2 layout"
                  ></div>
                  <div
                    style="--src:url(/static/assets/277cab176e0e102ffb5e531dd03e3f40.png)"
                    class="nocode-image2 layout1"
                  ></div>
                  <div
                    style="--src:url(/static/assets/7c06877883017c7416f74d6cf04f7ef7.png)"
                    class="nocode-image3 layout"
                  ></div>
                  <div
                    style="--src:url(/static/assets/7c06877883017c7416f74d6cf04f7ef7.png)"
                    class="nocode-image3 layout1"
                  ></div>
                  <div
                    style="--src:url(/static/assets/277cab176e0e102ffb5e531dd03e3f40.png)"
                    class="nocode-image2 layout2"
                  ></div>
                  <div
                    style="--src:url(/static/assets/277cab176e0e102ffb5e531dd03e3f40.png)"
                    class="nocode-image2 layout3"
                  ></div>
                  <div class="nocode-box3 layout"></div>
                  <hr class="nocode-line layout" />
                  <hr class="nocode-line layout1" />
                  <hr class="nocode-line layout2" />
                  <hr class="nocode-line layout3" />
                  <hr class="nocode-line layout4" />
                  <hr class="nocode-line layout5" />
                  <hr class="nocode-line layout6" />
                  <hr class="nocode-line layout7" />
                  <div
                    style="--src:url(/static/assets/142c133edd36c2c4c1484ea97099499c.png)"
                    class="nocode-cover-group20 layout"
                  >
                    <div
                      style="--src:url(/static/assets/ead31b43e5207d54a6d7b851c4afdd06.png)"
                      class="nocode-image4 layout"
                    ></div>
                  </div>
                  <div
                    style="--src:url(/static/assets/ff9b78840589f8e660f4869428b04b75.png)"
                    class="nocode-cover-group7 layout"
                  >
                    <h3 class="nocode-subtitle layout">+</h3>
                  </div>
                  <div
                    style="--src:url(/static/assets/cca8650de9a131febd067275948f1a04.png)"
                    class="nocode-cover-group7 layout1"
                  >
                    <h3 class="nocode-subtitle layout1">÷</h3>
                  </div>
                  <div
                    style="--src:url(/static/assets/86f64635d9e06a361a83ce551d7ae83f.png)"
                    class="nocode-cover-group7 layout2"
                  >
                    <h3 class="nocode-subtitle layout2">-</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="nocode-flex2-spacer"></div>
            <div class="nocode-flex2-item1">
              <div class="nocode-cover-group14 layout">
                <div class="nocode-cover-group13 layout">
                  <div class="nocode-text-body3 layout">Workspace</div>
                </div>
                <div
                  style="--src:url(/static/assets/fb359d8992e57e1af70af91e4047287d.png)"
                  class="nocode-image7 layout"
                ></div>
              </div>
            </div>
            <div class="nocode-flex2-spacer"></div>
            <div class="nocode-flex2-item2">
              <div class="nocode-cover-group16 layout">
                <div class="nocode-cover-group15 layout1">
                  <div class="nocode-text-body4 layout">Advanced Options</div>
                </div>
                <div class="nocode-cover-group9 layout">
                  <div class="nocode-flex3 layout">
                    <div class="nocode-text-body21 layout">Select Filters</div>
                    <div class="nocode-small-paragraph-body-box layout">
                      <pre class="nocode-small-paragraph-body">
Filter 1

Filter 2

Filter 3

Filter 4</pre
                      >
                    </div>
                  </div>
                </div>
                <div
                  style="--src:url(/static/assets/deb1d713b9b6089f96e89468bd20e725.png)"
                  class="nocode-group3 layout"
                >
                  <div class="nocode-cover-group2 layout">
                    <div class="nocode-cover-group1 layout">
                      <div class="nocode-box11 layout"></div>
                      <div class="nocode-small-text-body layout">Preview</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
