.addition-node{
     background: #9CA8B3;
     color: #FFF;
     padding: 10px;
 }
.cross-sell-output-node{
    background: #252db3;
    color: #fbf9ff;
    padding: 10px;
}
.csv-data-import-node{
    background: #247611;
    color: #fbf9ff;
    padding: 10px;
}