.addition_node{
     background: #9CA8B3;
     color: #FFF;
     padding: 10px;
 }
.cross_sell_output_node{
    background: #252db3;
    color: #fbf9ff;
    padding: 10px;
}
.csv_data_import_node{
    background: #247611;
    color: #fbf9ff;
    padding: 10px;
}