:root {
    --navy:#444c5c;
    --redpunch:#ce5a57;
    --ocean:#78a5a3;
    --warmorange:#e1b16a;
    --boarderblue:#0041d0;
    --whitebackground:#fff;
}

.react-flow__node {
    cursor: grab;
}
.addition-node, .csv-data-import-node, .cross-sell-output-node, .up-sell-output-node {
    padding: 10px;
    border-radius: 3px;
    width: 200px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}
.addition-node.selectable:hover, .csv-data-import-node.selectable:hover, .cross-sell-output-node.selectable:hover,.up-sell-output-node.selectable:hover  {
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.08);
}




.csv-data-import-node {
    background: var(--whitebackground);
    border-color: var(--navy);
}
.csv-data-import-node.selected, .csv-data-import-node.selected:hover {
    box-shadow: 0 0 0 0.5px var(--navy);
}
.csv-data-import-node .react-flow__handle {
    background: var(--navy);
}



.addition-node {
    background: var(--whitebackground);
    border-color: var(--ocean);
}
.addition-node.selected, .addition-node.selected:hover {
    box-shadow: 0 0 0 0.5px var(--ocean);
}
.addition-node .react-flow__handle {
    background: var(--ocean);
}



.cross-sell-output-node {
    background: var(--whitebackground);
    border-color: var(--redpunch);
}
.cross-sell-output-node.selected, .cross-sell-output-node.selected:hover {
    box-shadow: 0 0 0 0.5px var(--redpunch);
}
.cross-sell-output-node .react-flow__handle {
    background: var(--redpunch);
}

.up-sell-output-node {
    background: var(--whitebackground);
    border-color: var(--warmorange);
}
.up-sell-output-node.selected, .up-sell-output-node.selected:hover {
    box-shadow: 0 0 0 0.5px var(--warmorange);
}
.up-sell-output-node .react-flow__handle {
    background: var(--warmorange);
}